<% if (typeof errorMessage === 'undefined') { var errorMessage = []; } %>
<% if (errorMessage.length != 0) { %>
    <div>
        <strong class="error">Warning!</strong> The form contains <%= errorMessage.length %> errors.
    </div>
    <div>
        <ul>
            <% for (let error of errorMessage) { %>
                <li><%= error %></li>
            <% } %>
        </ul>
    </div>
<% } %>
