<footer class="Footer">
    <a href="<%= discord_url %>"><img class="logo-image" src="<%= rootpath %>/images/svg/logo/discord/full_logo_blurple_RGB.svg"></a>
    <small class="Copyright">&copy; <%= org_year %> <%= org_name %></small>
</footer>
