@charset "utf-8";

@font-face {
    font-family: 'misaki_gothic';
    src: url('../fonts/misaki_ttf_2021-05-05/misaki_gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misaki_gothic_2nd';
    src: url('../fonts/misaki_ttf_2021-05-05/misaki_gothic_2nd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 50px;
    letter-spacing: 5px;
    line-height: 35px;
    font-size: 25px;
    font-weight: bold;
    font: 25px 'misaki_gothic', "Lucida Grande", Helvetica, Arial, sans-serif;

    --background-body: #f9f9f9;
    --background-alt: #eeeeee;
    --text-strong: #222222;
    --text-main: #444444;
    --text-muted: #888888;
    --accent: lightseagreen;
    --focus: #4a8aa1;
    --visited: violet;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-body: #444444 !important;
        --background-alt: #222222 !important;
        --text-strong: #ffffff !important;
        --text-main: #eeeeee !important;
        --text-muted: #aaaaaa !important;
        --accent: #d7d742 !important;
        --focus: #797909 !important;
        --visited: #eeeeee !important;
    }
}

body {
    font-family: misaki_gothic !important;
    margin: 0 !important;
    background-color: var(--background-body) !important;
    color: var(--text-main) !important;
}

.misaki_gothic {
    font-family: 'misaki_gothic_2nd' !important;
}

h1,
h2,
h3,
strong {
    color: var(--text-strong);
}

small {
    color: var(--text-muted);
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--focus);
}

a:visited {
    color: var(--visited);
}

a:visited:hover {
    color: var(--focus);
}

ul li {
    line-height: 2rem;
}

hr {
    border: 1px dashed var(--accent);
}

.Container {
    display: grid;
    grid-template-rows: max-content 1fr auto;
    grid-template-columns: minmax(10px, 15%) 1fr minmax(10px, 15%);
    min-height: 100lvh;
}

.Header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.Main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.logo-image {
    width: 100px;
    height: 25px;
}

.Footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: var(--background-alt);
}

.Highlight {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: var(--accent);
    text-underline-offset: -0.2em;
}

.Copyright {
    color: var(--text-strong);
}

.error {
    color: red;
}

.success {
    color: green;
}

.center {
    text-align: center;
}

.auth-logo {
    width: 50px;
    height: auto;
}

.wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /*justify-content: space-between;*/
}

.wrapper > div {
    padding: 10px;
}

.x-logo {
    width: 50px;
    height: auto;
}

.font0-5 {
    font-size: 0.5rem;
}

.font0-75 {
    font-size: 0.75rem;
}

.font1-0 {
    font-size: 1.0rem;
}

.font1-5 {
    font-size: 1.5rem;
}

.font2-0 {
    font-size: 2.0rem;
}

.font3-0 {
    font-size: 3.0rem;
}

.under {
    text-decoration: underline;
}

h2 {
    padding: 1rem 2rem;
    border-top: 4px solid #d8dcdc;
    border-right: 4px solid #666;
    border-bottom: 4px solid #333;
    border-left: 4px solid #868888;
    border-radius: 0;
    background-image: -webkit-linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
    background-image: linear-gradient(-45deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}

form > label {
    font-size: 1.25rem;
}

.trim_header {
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px white;
}

.trim_header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 100%;
}

.simple-flex {
    display: flex;
}
